:root {
    --color-light-cyan: #b3e6e6;
    --color-blue: #88b7c7;
    --color-dark-cyan: #506569;
    --color-very-dark-cyan: #25424d;
    --color-gray-lime: #d0d3d0;
    --color-text-primary: #555555;
    --color-text-secondary: #989898;
    --color-very-light-cyan: #f2f5f6;
    --color-bg-light-gray: #dfdfdf;
    --color-success: #5cab0e;
    --color-danger: #de3535;
    --color-primary: #65b6d5;
    --color-secondary: #9fc0cd;
    --color-text-1: #333;
    --color-text-3: #d0d0d0;
    --color-focus: #4d90fe;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: Segoe UI, Open Sans, Arial, sans-serif;
}

.background-cyan {
    background: linear-gradient(to right, var(--color-light-cyan), var(--color-blue));
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Change the number of columns as per your requirement */
    grid-template-rows: auto;
    /* Adjust the rows as per your requirement */
    grid-gap: .375rem;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .15) 100%);
}

.dashboard-header {
    background-color: var(--color-dark-cyan);
    color: #fff;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    grid-row: 1;
    grid-column: 1/4;
}

.dashboard-header__title {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: auto;
}

.dashboard-card {
    background-color: var(--color-very-light-cyan);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dashboard>.dashboard-card:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.dashboard-card__title {
    text-transform: uppercase;
    color: var(--color-text-secondary);
    font-size: .75rem;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
}

.dashboad-card__content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    position: relative;
    height: 20px;
}

.dashboard-card__card-piece {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.dashboard-card__title .wi,
.dashboard-card__title .fa {
    font-size: 250%;
    margin-right: .75rem;
}

.status {
    flex: 1;
    text-align: center;
}

.status-container {
    height: 150px;
}

.status__icon {
    font-size: 250%;
}

.status__text {
    text-transform: uppercase;
    text-align: center;
}

.status_co,
.status_co2 {
    color: var(--color-success);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.status_co.high,
.status_co2.high {
    color: var(--color-danger);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.temperature-stats {
    flex: 1;
    display: flex;
    padding: 5%;
}

.stats__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.stats__title {
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    flex: 0 0 2rem;
}

.stats__icon {
    font-size: 200%;
    color: var(--color-secondary);
}

.stats__measure {
    color: var(--color-very-dark-cyan);
    font-weight: 100;
    display: flex;
}

.stats__value {
    font-size: 4rem;
}

.stats__unit {
    font-size: 1.75rem;
    position: relative;
}

.stats__unit_celsius {
    margin-top: 1rem;
    margin-left: .5rem;
}

.stats__unit_celsius:before {
    content: 'o';
    font-size: .75rem;
    position: absolute;
    top: .125rem;
    left: -.375rem;
}

.air-quality-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: 1;
    flex: 0 0 2rem;
}

.temperature {
    grid-row: 2;
    grid-column: 1;
}

.fan-speed {
    grid-row: 2;
    grid-column: 2;
}

.mode {
    grid-row: 2;
    grid-column: 3;
}

.air-quality-gases {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-gap: .375rem;
}

.energy {
    grid-row: 4;
    grid-column: 1/4;
}

.status {
    color: var(--color-primary);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.status__text {
    text-transform: uppercase;
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dropbtn {
    background-color: var(--color-primary);
    color: var(--color-very-light-cyan);
    padding: 16px;
    font-size: 16px;
    border: none;
    position: absolute;
    top: -15px;
    /* Adjust the value to move the button up */
    right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    /* Position the dropdown content below the button */
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-light-cyan);
    color: var(--color-dark-cyan);
}

@media (max-width: 992px) {
    .dashboard {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .dashboard-header {
        grid-column: 1/4;
    }

    .temperature {
        grid-row: 2;
        grid-column: 1;
    }

    .fan-speed {
        grid-row: 2;
        grid-column: 2;
    }

    .mode {
        grid-row: 2;
        grid-column: 3;
    }

    .air-quality-gases {
        grid-column: 1/4;
    }

    .energy {
        grid-row: 4;
        grid-column: 1/4;
    }
}

@media (max-width: 576px) {
    .wi {
        font-size: 70%;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboard-header {
        grid-column: 1;
    }

    .weather {
        grid-row: 2;
        grid-column: 1;
    }

    .temperature {
        grid-row: 3;
        grid-column: 1;
    }

    .co {
        grid-row: 5;
        grid-column: 1;
    }

    .power {
        grid-row: 7;
        grid-column: 1;
    }

    .power .dashboard-card__card-piece {
        flex-basis: 100%;
    }

    .power .dashboard-card__card-piece:not(:last-child) {
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--color-text-3);
    }

    .power .dashboad-card__content {
        flex-wrap: wrap;
    }
}