:root {
    --color-blue: #88b7c7;
    --color-light-cyan: #b3e6e6;
    --color-very-light-cyan: #f2f5f6;
    --color-dark-cyan: #506569;
    --color-danger: #de3535;
    --color-primary: #205C74;
    --color-secondary: #5F95AB;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: Segoe UI, Open Sans, Arial, sans-serif;
}

.background-cyan {
    background: linear-gradient(to right, var(--color-light-cyan), var(--color-blue));
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: .375rem;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .15) 100%);
}

.dashboard-header {
    background-color: var(--color-primary);
    color: #fff;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    grid-row: 1;
    grid-column: 1/4;
}

.dashboard-header__title {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: auto;
}

.dashboard-card {
    background-color: var(--color-very-light-cyan);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dashboard>.dashboard-card:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.dashboard-card__title {
    text-transform: uppercase;
    color: var(--color-dark-cyan);
    font-size: .75rem;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
}

.dashboad-card__content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    position: relative;
    height: 20px;
}

.dashboard-card__card-piece {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.dashboard-card__title .wi,
.dashboard-card__title .fa {
    font-size: 250%;
    margin-right: .75rem;
}

.status {
    flex: 1;
    text-align: center;
}

.status-container {
    height: 200px;
}

.status__icon {
    font-size: 250%;
}

.status__text {
    text-transform: uppercase;
    text-align: center;
}

.status_co,
.status_co2 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.status_co.high,
.status_co2.high {
    color: var(--color-danger);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.temperature-stats {
    flex: 1;
    display: flex;
    padding: 5%;
}

.stats__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.stats__title {
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    flex: 0 0 2rem;
}

.stats__icon {
    font-size: 200%;
    color: var(--color-secondary);
}

.stats__measure {
    color: var(--color-dark-cyan);
    font-weight: 100;
    display: flex;
}

.stats__value {
    font-size: 4rem;
}

.stats__unit {
    font-size: 1.75rem;
    position: relative;
}

.stats__unit_celsius {
    margin-top: 1rem;
    margin-left: .5rem;
}

.stats__unit_celsius:before {
    content: 'o';
    font-size: .75rem;
    position: absolute;
    top: .125rem;
    left: -.375rem;
}

.air-quality-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: 1;
    flex: 0 0 2rem;
}

.alert {
    color: var(--color-danger);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.temperature {
    grid-row: 2;
    grid-column: 1;
}

.card-footer {
    display: flex;
    align-items: center;
    height: 25%;
}

.fan-speed {
    grid-row: 2;
    grid-column: 2;
    overflow: visible;
}

.mode {
    grid-row: 2;
    grid-column: 3;
}

.air-quality-gases {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-gap: .375rem;
}

.energy {
    grid-row: 4;
    grid-column: 1/4;
}

.status {
    color: var(--color-primary);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 75%;
}

.status__text {
    text-transform: uppercase;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dropbtn {
    background-color: var(--color-primary);
    color: var(--color-very-light-cyan);
    padding: 0 16px;
    font-size: 16px;
    border: none;
    top: -15px;
    right: 0;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-light-cyan);
    color: var(--color-primary);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }

    .dashboard-card {
        width: 100%;
        margin-bottom: 0.375rem;
    }

    .dashboard-card.energy {
        display: none;
    }
}